* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.home {
    height: 100vh;
    position: relative;
    background: url(../image/background.jpg) no-repeat scroll center / cover;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0px 80px 0px 20px;
}

header img {
    width: 100px;
    height: 100px;

}

header a {
    text-decoration: none;
    color: white;
    font-size: 40px;
}

header a .css-i4bv87-MuiSvgIcon-root {
    font-size: 2.5rem;
}


.dark {
    background-color: rgba(48, 47, 47, 0.9);
    z-index: 3;
}

.menu {
    background-color: rgb(22, 21, 21);
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 3;
    position: fixed;
    top: 0; 
    transition: all 1s ease;
    display: flex;

}

.menu ul {
    width: 100%;
    display: flex;
    justify-content: ;
    height: 100%;
}

.menu ul li {
    border-bottom: 1px solid rgb(140, 140, 140);
    padding: 8px 30px;
    text-align: left;
    list-style: none;
}

.menu ul li a {
    color: rgb(252, 252, 252);
    padding: 8px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-align: left;
}

.menu ul .menuLogoLine {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    background: rgb(44, 41, 41);
}

.menu ul .menuLogoLine img {
    width: 30px;
    height: 30px;
}

.menu ul li:hover {
    background-color: rgb(93, 91, 91);
    color: black;
}

.menu ul .menuLogoLine:hover {
    background-color: rgb(54, 53, 53);
}